# Default behavior
* text=auto

# Enforce text for new solution format
*.slnx text

# C# source
*.cs text diff=csharp

# Project files
*.csproj text
*.props text
*.targets text

# Images
*.jpg binary
*.png binary
*.gif binary
*.ico binary
